In [0]:
import numpy as np 
import pandas as pd 
import nltk
import os
import gc
from keras.preprocessing import sequence,text
from keras.preprocessing.text import Tokenizer
from keras.models import Sequential
from keras.layers import Dense,Dropout,Embedding,LSTM,Conv1D,GlobalMaxPooling1D,Flatten,MaxPooling1D,GRU,SpatialDropout1D,Bidirectional
from keras.callbacks import EarlyStopping
from keras.utils import to_categorical
from keras.losses import categorical_crossentropy
from keras.optimizers import Adam
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,f1_score
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
#pd.set_option('display.max_colwidth',100)
pd.set_option('display.max_colwidth', -1)

In [0]:
gc.collect()

151

In [0]:
files.upload()
train = pd.read_csv('train.tsv', sep="\t")
test = pd.read_csv('test.tsv', sep="\t")
sub = pd.read_csv('sampleSubmission.csv', sep=",")

Saving sampleSubmission.csv to sampleSubmission.csv
Saving test.tsv to test.tsv
Saving train.tsv to train.tsv

In [0]:
train.head(10)

   PhraseId  ...  Sentiment
0  1         ...  1
1  2         ...  2
2  3         ...  2
3  4         ...  2
4  5         ...  2
5  6         ...  2
6  7         ...  2
7  8         ...  2
8  9         ...  2
9  10        ...  2

[10 rows x 4 columns]

In [0]:
train.loc[train.SentenceId == 2]

    PhraseId  ...  Sentiment
63  64        ...  4
64  65        ...  3
65  66        ...  2
66  67        ...  4
67  68        ...  3
68  69        ...  2
69  70        ...  3
70  71        ...  3
71  72        ...  3
72  73        ...  2
73  74        ...  2
74  75        ...  4
75  76        ...  2
76  77        ...  3
77  78        ...  4
78  79        ...  2
79  80        ...  2
80  81        ...  2

[18 rows x 4 columns]

In [0]:
print('Average count of phrases per sentence in train is {0:.0f}.'.format(train.groupby('SentenceId')['Phrase'].count().mean()))
print('Average count of phrases per sentence in test is {0:.0f}.'.format(test.groupby('SentenceId')['Phrase'].count().mean()))

Average count of phrases per sentence in train is 18.
Average count of phrases per sentence in test is 20.

In [0]:
print('Number of phrases in train: {}. Number of sentences in train: {}.'.format(train.shape[0], len(train.SentenceId.unique())))
print('Number of phrases in test: {}. Number of sentences in test: {}.'.format(test.shape[0], len(test.SentenceId.unique())))

Number of phrases in train: 156060. Number of sentences in train: 8529.
Number of phrases in test: 66292. Number of sentences in test: 3310.

In [0]:
print('Average word length of phrases in train is {0:.0f}.'.format(np.mean(train['Phrase'].apply(lambda x: len(x.split())))))
print('Average word length of phrases in test is {0:.0f}.'.format(np.mean(test['Phrase'].apply(lambda x: len(x.split())))))

Average word length of phrases in train is 7.
Average word length of phrases in test is 7.

In [0]:
test['Sentiment']=-999
test.head()

   PhraseId  ...  Sentiment
0  156061    ... -999
1  156062    ... -999
2  156063    ... -999
3  156064    ... -999
4  156065    ... -999

[5 rows x 4 columns]

In [0]:
df=pd.concat([train,test],ignore_index=True)
print(df.shape)
df.tail()

(222352, 4)

        PhraseId  SentenceId                                  Phrase  Sentiment
222347  222348    11855       A long-winded , predictable scenario . -999
222348  222349    11855       A long-winded , predictable scenario   -999
222349  222350    11855       A long-winded ,                        -999
222350  222351    11855       A long-winded                          -999
222351  222352    11855       predictable scenario                   -999

In [0]:
del train,test
gc.collect()

89

In [0]:
from nltk.tokenize import word_tokenize
from nltk import FreqDist
from nltk.stem import SnowballStemmer,WordNetLemmatizer
import nltk
nltk.download('wordnet')
stemmer=SnowballStemmer('english')
lemma=WordNetLemmatizer()
from string import punctuation
import re

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [0]:
def clean_review(review_col):
    review_corpus=[]
    for i in range(0,len(review_col)):
        review=str(review_col[i])
        review=re.sub('[^a-zA-Z]',' ',review)
        #review=[stemmer.stem(w) for w in word_tokenize(str(review).lower())]
        review=[lemma.lemmatize(w) for w in word_tokenize(str(review).lower())]
        review=' '.join(review)
        review_corpus.append(review)
    return review_corpus

In [0]:
df['clean_review']=clean_review(df.Phrase.values)
df.head()

   PhraseId  ...                                                                                                                                                                            clean_review
0  1         ...  a series of escapade demonstrating the adage that what is good for the goose is also good for the gander some of which occasionally amuses but none of which amount to much of a story
1  2         ...  a series of escapade demonstrating the adage that what is good for the goose
2  3         ...  a series
3  4         ...  a
4  5         ...  series

[5 rows x 5 columns]

In [0]:
df_train=df[df.Sentiment!=-999]
df_train.shape

(156060, 5)

In [0]:
df_test=df[df.Sentiment==-999]
df_test.drop('Sentiment',axis=1,inplace=True)
print(df_test.shape)
df_test.head()

(66292, 4)

        PhraseId  ...                                          clean_review
156060  156061    ...  an intermittently pleasing but mostly routine effort
156061  156062    ...  an intermittently pleasing but mostly routine effort
156062  156063    ...  an
156063  156064    ...  intermittently pleasing but mostly routine effort
156064  156065    ...  intermittently pleasing but mostly routine

[5 rows x 4 columns]

In [0]:
del df
gc.collect()

26

In [0]:
train_text=df_train.clean_review.values
test_text=df_test.clean_review.values
target=df_train.Sentiment.values
y=to_categorical(target)
print(train_text.shape,target.shape,y.shape)

(156060,) (156060,) (156060, 5)

In [0]:
X_train_text,X_val_text,y_train,y_val=train_test_split(train_text,y,test_size=0.2,stratify=y,random_state=123)
print(X_train_text.shape,y_train.shape)
print(X_val_text.shape,y_val.shape)

(124848,) (124848, 5)
(31212,) (31212, 5)

In [0]:
all_words=' '.join(X_train_text)
all_words=word_tokenize(all_words)
dist=FreqDist(all_words)
num_unique_word=len(dist)
num_unique_word

13732

In [0]:
r_len=[]
for text in X_train_text:
    word=word_tokenize(text)
    l=len(word)
    r_len.append(l)
    
MAX_REVIEW_LEN=np.max(r_len)
MAX_REVIEW_LEN

48

In [0]:
max_features = num_unique_word
max_words = MAX_REVIEW_LEN
batch_size = 128
epochs = 3
num_classes=5

In [0]:
tokenizer = Tokenizer(num_words=max_features)
tokenizer.fit_on_texts(list(X_train_text))
X_train = tokenizer.texts_to_sequences(X_train_text)
X_val = tokenizer.texts_to_sequences(X_val_text)
X_test = tokenizer.texts_to_sequences(test_text)

In [0]:
X_train = sequence.pad_sequences(X_train, maxlen=max_words)
X_val = sequence.pad_sequences(X_val, maxlen=max_words)
X_test = sequence.pad_sequences(X_test, maxlen=max_words)
print(X_train.shape,X_val.shape,X_test.shape)

(124848, 48) (31212, 48) (66292, 48)

In [0]:
model1=Sequential()
model1.add(Embedding(max_features,100,mask_zero=True))
model1.add(LSTM(64,dropout=0.4, recurrent_dropout=0.4,return_sequences=True))
model1.add(LSTM(32,dropout=0.5, recurrent_dropout=0.5,return_sequences=False))
model1.add(Dense(num_classes,activation='softmax'))
model1.compile(loss='categorical_crossentropy',optimizer=Adam(lr=0.001),metrics=['accuracy'])
model1.summary()

WARNING: Logging before flag parsing goes to stderr.
W0718 21:30:02.634779 139860822546304 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0718 21:30:02.696451 139860822546304 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0718 21:30:02.714258 139860822546304 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0718 21:30:02.968596 139860822546304 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:133: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

W0718 21:30:02.988858 139860822546304 deprecation.py:506] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
W0718 21:30:03.704849 139860822546304 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:2974: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
W0718 21:30:04.389670 139860822546304 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0718 21:30:04.419730 139860822546304 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3295: The name tf.log is deprecated. Please use tf.math.log instead.

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, None, 100)         1373200
_________________________________________________________________
lstm_1 (LSTM)                (None, None, 64)          42240
_________________________________________________________________
lstm_2 (LSTM)                (None, 32)                12416
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 165
=================================================================
Total params: 1,428,021
Trainable params: 1,428,021
Non-trainable params: 0
_________________________________________________________________

In [0]:
history1=model1.fit(X_train, y_train, validation_data=(X_val, y_val),epochs=epochs, batch_size=batch_size, verbose=1)

Train on 124848 samples, validate on 31212 samples
Epoch 1/3
124848/124848 [==============================] - 459s 4ms/step - loss: 1.0770 - acc: 0.5780 - val_loss: 0.8758 - val_acc: 0.6445
Epoch 2/3
124848/124848 [==============================] - 271s 2ms/step - loss: 0.8332 - acc: 0.6590 - val_loss: 0.8305 - val_acc: 0.6606
Epoch 3/3
124848/124848 [==============================] - 270s 2ms/step - loss: 0.7790 - acc: 0.6796 - val_loss: 0.8228 - val_acc: 0.6633

In [0]:
y_pred1=model1.predict_classes(X_test,verbose=1)

66292/66292 [==============================] - 56s 849us/step

In [0]:
sub.Sentiment=y_pred1
sub.to_csv('sub1.csv',index=False)
sub.head()

   PhraseId  Sentiment
0  156061    2
1  156062    2
2  156063    2
3  156064    2
4  156065    2

In [0]:
model2= Sequential()
model2.add(Embedding(max_features,100,input_length=max_words))
model2.add(Dropout(0.2))

model2.add(Conv1D(64,kernel_size=3,padding='same',activation='relu',strides=1))
model2.add(GlobalMaxPooling1D())

model2.add(Dense(128,activation='relu'))
model2.add(Dropout(0.2))

model2.add(Dense(num_classes,activation='softmax'))


model2.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

model2.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_2 (Embedding)      (None, 48, 100)           1373200
_________________________________________________________________
dropout_1 (Dropout)          (None, 48, 100)           0
_________________________________________________________________
conv1d_1 (Conv1D)            (None, 48, 64)            19264
_________________________________________________________________
global_max_pooling1d_1 (Glob (None, 64)                0
_________________________________________________________________
dense_2 (Dense)              (None, 128)               8320
_________________________________________________________________
dropout_2 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_3 (Dense)              (None, 5)                 645
=================================================================
Total params: 1,401,429
Trainable params: 1,401,429
Non-trainable params: 0
_________________________________________________________________

In [0]:
%%time
history2=model2.fit(X_train, y_train, validation_data=(X_val, y_val),epochs=epochs, batch_size=batch_size, verbose=1)

Train on 124848 samples, validate on 31212 samples
Epoch 1/3
124848/124848 [==============================] - 62s 496us/step - loss: 1.0023 - acc: 0.5999 - val_loss: 0.8531 - val_acc: 0.6514
Epoch 2/3
124848/124848 [==============================] - 61s 487us/step - loss: 0.7881 - acc: 0.6767 - val_loss: 0.8096 - val_acc: 0.6663
Epoch 3/3
124848/124848 [==============================] - 60s 484us/step - loss: 0.7076 - acc: 0.7043 - val_loss: 0.8029 - val_acc: 0.6688
CPU times: user 5min 5s, sys: 14.7 s, total: 5min 20s
Wall time: 3min 4s

In [0]:
y_pred2=model2.predict_classes(X_test, verbose=1)

66292/66292 [==============================] - 6s 89us/step

In [0]:
sub.Sentiment=y_pred2
sub.to_csv('sub2.csv',index=False)
sub.head()

   PhraseId  Sentiment
0  156061    2
1  156062    2
2  156063    2
3  156064    2
4  156065    2

In [0]:
model3= Sequential()
model3.add(Embedding(max_features,100,input_length=max_words))
model3.add(Conv1D(64,kernel_size=3,padding='same',activation='relu'))
model3.add(MaxPooling1D(pool_size=2))
model3.add(Dropout(0.25))
model3.add(GRU(128,return_sequences=True))
model3.add(Dropout(0.3))
model3.add(Flatten())
model3.add(Dense(128,activation='relu'))
model3.add(Dropout(0.5))
model3.add(Dense(5,activation='softmax'))
model3.compile(loss='categorical_crossentropy',optimizer=Adam(lr=0.001),metrics=['accuracy'])
model3.summary()

W0718 21:51:04.785452 139860822546304 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3976: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_3 (Embedding)      (None, 48, 100)           1373200
_________________________________________________________________
conv1d_2 (Conv1D)            (None, 48, 64)            19264
_________________________________________________________________
max_pooling1d_1 (MaxPooling1 (None, 24, 64)            0
_________________________________________________________________
dropout_3 (Dropout)          (None, 24, 64)            0
_________________________________________________________________
gru_1 (GRU)                  (None, 24, 128)           74112
_________________________________________________________________
dropout_4 (Dropout)          (None, 24, 128)           0
_________________________________________________________________
flatten_1 (Flatten)          (None, 3072)              0
_________________________________________________________________
dense_4 (Dense)              (None, 128)               393344
_________________________________________________________________
dropout_5 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_5 (Dense)              (None, 5)                 645
=================================================================
Total params: 1,860,565
Trainable params: 1,860,565
Non-trainable params: 0
_________________________________________________________________

In [0]:
%%time
history3=model3.fit(X_train, y_train, validation_data=(X_val, y_val),epochs=epochs, batch_size=batch_size, verbose=1)

Train on 124848 samples, validate on 31212 samples
Epoch 1/3
124848/124848 [==============================] - 137s 1ms/step - loss: 1.0238 - acc: 0.5912 - val_loss: 0.8617 - val_acc: 0.6459
Epoch 2/3
124848/124848 [==============================] - 135s 1ms/step - loss: 0.8112 - acc: 0.6676 - val_loss: 0.8112 - val_acc: 0.6638
Epoch 3/3
124848/124848 [==============================] - 134s 1ms/step - loss: 0.7313 - acc: 0.6944 - val_loss: 0.8104 - val_acc: 0.6672
CPU times: user 11min 39s, sys: 35.7 s, total: 12min 15s
Wall time: 6min 47s

In [0]:
y_pred3=model3.predict_classes(X_test, verbose=1)

66292/66292 [==============================] - 22s 336us/step

In [0]:
sub.Sentiment=y_pred3
sub.to_csv('sub3.csv',index=False)
sub.head()

   PhraseId  Sentiment
0  156061    2
1  156062    2
2  156063    2
3  156064    2
4  156065    3

In [0]:
model4 = Sequential()

model4.add(Embedding(max_features, 100, input_length=max_words))
model4.add(SpatialDropout1D(0.25))
model4.add(Bidirectional(GRU(128)))
model4.add(Dropout(0.5))

model4.add(Dense(5, activation='softmax'))
model4.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model4.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_4 (Embedding)      (None, 48, 100)           1373200
_________________________________________________________________
spatial_dropout1d_1 (Spatial (None, 48, 100)           0
_________________________________________________________________
bidirectional_1 (Bidirection (None, 256)               175872
_________________________________________________________________
dropout_6 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_6 (Dense)              (None, 5)                 1285
=================================================================
Total params: 1,550,357
Trainable params: 1,550,357
Non-trainable params: 0
_________________________________________________________________

In [0]:
%%time
history4=model4.fit(X_train, y_train, validation_data=(X_val, y_val),epochs=epochs, batch_size=batch_size, verbose=1)

Train on 124848 samples, validate on 31212 samples
Epoch 1/3
124848/124848 [==============================] - 310s 2ms/step - loss: 1.0066 - acc: 0.5956 - val_loss: 0.8505 - val_acc: 0.6502
Epoch 2/3
124848/124848 [==============================] - 305s 2ms/step - loss: 0.8039 - acc: 0.6707 - val_loss: 0.8150 - val_acc: 0.6687
Epoch 3/3
124848/124848 [==============================] - 305s 2ms/step - loss: 0.7373 - acc: 0.6933 - val_loss: 0.8137 - val_acc: 0.6698
CPU times: user 27min 31s, sys: 1min 28s, total: 28min 59s
Wall time: 15min 21s

In [0]:
y_pred4=model4.predict_classes(X_test, verbose=1)

66292/66292 [==============================] - 50s 752us/step

In [0]:
sub.Sentiment=y_pred4
sub.to_csv('sub4.csv',index=False)
sub.head()

   PhraseId  Sentiment
0  156061    2
1  156062    2
2  156063    2
3  156064    2
4  156065    2

In [0]:
files.download('sub1.csv')
files.download('sub2.csv')
files.download('sub3.csv')
files.download('sub4.csv')